body {
    margin: 0;
    background: #2C2F33;
}

.header {
    background: #23272A;
    padding: 20px;
    color: white;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
}

.header-items {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-items:first-child > div {
    margin-right: auto;
}

.header-items:last-child > div {
    margin-left: auto;
}

.header-items-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    margin-left: 30px;
}

.header-items-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 30px;
}

.header-item {
    margin-inline: 30px;
}

.userinfo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-link-form {
    display: inline;
}

.header-link-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: x-large;
}

.header-link-button:hover {
    color: chocolate;
}

