

table {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    table-layout: auto;
}

th {
    font-size: x-large;
}

td {
    min-width: 100px;
    max-width: 550px;
    padding:5px 20px;
    font-size: large;
    word-wrap: break-word;
}

.task-list-form {
    display: inline;
}

.task-list-button {
    background: chocolate;
    width: 150px;
    padding: 5px 3px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: medium;
}

.task-list-button:hover {
    color: white;
    background: #9c5019;
}

.newtask-text-area {
    resize: none;
}

